.side-bar-wrapper {
  position: relative;
  @media (max-width: 991px) {
    position: fixed;
    left: -100%;
    min-width: 250px;
    transition: left 0.4s linear;
  }
  .side-bar {
    position: fixed;
    top: 0px;
    left: 0px;
    min-height: 100vh;
    width: 16.66666667%;
    background-color: #2a2b30 !important;
    @media (max-width: 991px) {
      left: -100%;
      min-width: 250px;
    transition: left 0.4s linear;
    }
    .profile-figure {
      position: relative;
      figure {
        width: 100%;
        @media (max-width: 991px) {
          height: 250px;
        }
      }
      .name {
        position: absolute;
        left: 0;
        bottom: 0;
        background-color: #25396fa5;
        color: white;
        text-align: center;
        text-transform: uppercase;
        padding: 10px !important;
        width: 100%;
        font-size: 18px !important;
        letter-spacing: 1px;
        font-weight: 700;
      }
    }
    .main-navigation-menu {
      ul {
        li {
          display: block;
          padding: 7px 40px;
          font-size: 12px;
          letter-spacing: 1px;
          text-transform: uppercase;
          border-bottom: 1px solid #202125;
          color: rgb(144, 144, 144);
          a {
            display: flex;
            gap: 10px;
            align-items: center;
          }
          &:hover {
            color: white !important;
          }
        }
        .active {
          color: white !important;
        }
      }
    }
    .side-bar-footer {
      position: absolute;
      bottom: 20px;
      width: 100%;
      .social-media {
        z-index: 3;
        ul {
          display: flex;
          align-items: center;
          justify-content: center;
          gap: 10px;
          li {
            a {
              color: rgb(144, 144, 144) !important;
              font-size: 14px !important;
              &:hover {
                color: white !important;
              }
            }
          }
        }
      }
      .copy-right {
        p {
          font-size: 12px !important;
          color: rgb(144, 144, 144);
          text-align: center;
        }
      }
    }
  }
}
header {
  background-color: #2a2b30 !important;
  padding: 20px 0px;
  color: white;
  position: fixed;
  top: 0px;
  left: 0px;
  width: 100%;
  z-index: 9999999;
  .container {
    display: flex;
    justify-content: space-between;
    padding: 0px !important;
  }
  .brand {
    text-transform: uppercase;
    font-size: 18px;
    font-weight: 700;
  }
  button {
    border: none;
    position: relative;
    width: 25px;
    background-color: transparent;
    span,
    span::before,
    span::after {
      transition: background 0.3s, transform 0.3s;
    }
    span,
    span::before,
    span::after {
      content: "";
      position: absolute;
      left: 0px;
      height: 3px;
      width: 25px;
      background: white;
    }
    span::before {
      transform: translateY(-9px);
      width: 100%;
    }
    span::after {
      transform: translateY(9px);
      width: 100%;
    }
  }
}

body.open-opacity {
  header {
    button {
      span {
       background-color: transparent !important;
        &::after {
          transform: rotate(45deg);
          opacity: 1;
        }
        &::before {
          opacity: 1;
          transform: rotate(-45deg);
        }
      }
    }
  }
}

.side-bar-wrapper.open {
  left: 0px;
  z-index: 999999999;
  .side-bar {
    left: 0px;
  }
}
